
@import "_config.scss";
//header style
header {
    position: relative;
    display: block;
    width: 100%;
    background: #C1292E;
    color: white;
    height: 60px;

    .logo {
        position: absolute;
        top: 50%;
        left: 15px;
        @include translateY(-50%);
        text-decoration: underline overline;
        text-decoration-color: #235789;
    }

    nav,
    nav ul,
    nav ul li {
        margin:0;
        padding: 0;

    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;

            &.last {
                margin: 0;
            }

            a{
                font-size: 19px;
                line-height: normal;
                color: #FDFFFC;
            }

            a:hover {
                color: black;
            }
        }
    }

}

//footer style
footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 6px;
    background: #C1292E;
    bottom: 0;

    p {
        @include translateY(50%);
        color: #FDFFFC;
    }

}

//homepage style
.title {
    width: 100%;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    background: #FDFFFC;
    color: black;
    border-color: #FDFFFC;

    img {
        width: 175px;
        border-radius: 50%;
    }

    h1 {
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    p {
        font-size: 23px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.contact {
    position: fixed;
    bottom: 0px;
    right:0;
    width: 100%;
    background: #235789;
    margin: auto;


    ul {
        display: flex;
        padding: 20px;
        justify-content: center;
        

    }
    
    ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10%;
        margin-left: 10%;
    }

    .button {
        //border-radius: 4px;
        background-color: #F1D302;
        color: #020100;
        text-align: center;
        font-size: 20px;
        padding: 10px;
        width: 120px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }

}

//about page style
.top {
    position: relative;
    text-align: center;
    color: #FDFFFC;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Georgia, 'Times New Roman', Times, serif;
        
        mark {
            color: #FDFFFC;
            background-color: #235789;
        }

    }

}

.content {
        p {
            font-size: 20px;
            line-height: normal;
            margin: 30px;
            line-height: 1.8;
            
        }
        .opening {
            margin-top: 20px;
            text-indent: 40px;
        }

    }

//projects page style
.projTop {
    width: 100%;
    text-align: center;
    background-color: #F1D302;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.projContainer {
    background-color: #FDFFFC;
    border-style: groove none groove none;
    border-color: #235789;
    height: fit-content;
    position: relative;

    h1{ 
        line-height: normal;
        font-size: 24px;
        margin-top: 15px;
        text-align:center;
        background-color: #235789;
        padding: 20px;
        color: #FDFFFC;
        width: 50%;
        margin-left: auto;
        margin-right:auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        max-height: 400px;
        display: block;
    }
    .collapsible {
        margin-left: auto;
        margin-right: auto;
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    }
    .collapsible:hover {
        background-color: #ccc;
    }
      
    .content {
        position: relative;
        display: block;
        vertical-align: top;
        margin-left: auto;
        margin-right:auto;
        max-height: 100%;
    }

        p {
            font-size: 15px;
            line-height: normal;
            text-align:center;

        }
    

}